<footer>
<p>My Web Page 20XX &copy</p>
<footer>
  footer {
    background-color: steelblue;
    color: white;
}
<footer>
  footer p {
    padding: 25px;
}
nav {
    background-color: steelblue;
}
a {
    color: white;
}
nav {
    padding: 25px;
}
a {
    padding: 25px;
}
body {
    margin: 0
}
img {
    border: 4px solid steelblue;
}